* {
  font-family : 'Roboto' , sans-serif;
}

.start-game-container {
  display : grid;
  height : 100vh;
  width : 100vw;
  grid-template-columns: auto auto;
  align-items : center;
  align-content : center;
  justify-content : center;
  justify-items : center;
  row-gap: 30px;
}

body {
  margin: 0px;
}

* {
  box-sizing :border-box;
}

.start-game-text {
  grid-column : 1/3;
}
